body{
    font-size: 9px;
    margin: 0;
}

body *{
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

main#principal{
    display: block;
    text-align: center;
}

header#cabecalho{
    overflow: hidden;
    text-align: center;
    background-color: rgb(225,239,187);
    margin: 0px;
}

header#cabecalho > img{
    display: inline-block;
    width: 11%;
    margin: 5px;
    overflow: hidden;
}

header#cabecalho > img#logoApae{
    float: left;
    margin-left: 1em;
}

header#cabecalho > img#logoIfms{
    float: right;
    margin-right: 1em;
}

header#cabecalho h1{
    display: inline-block;
    max-width: 60%;
    font-size: 1.5em;
}

form#formlogin{
    border: solid 4px black;
    background-color: rgb(235,235,235);
    padding: 13px 20px 20px 20px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}

form#formlogin > h1{
    margin-top: 0;
}

form#formlogin div.campo{
    text-align: left;
}

form#formlogin input{
    width: 100%;
    display: block;
    padding-left: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form#formlogin div.campo *, form#formlogin button{
    font-size: 1.8em;
}

form#formlogin input[type*="text"]{
    text-transform: none;
}

form#formlogin button, form#formlogin div.campo{
    margin-top: 15px;
}

::-webkit-input-placeholder{
    color: rgba(200,40,40,0.8);
}

@media only screen and (min-width: 475px){
  body{
    font-size: 15px;
  }
}

@media only screen and (min-width: 890px){
    header#cabecalho h1{
        font-size: 2em;
    }
}
