/*############################ 0 - Configurações gerais da página ############################*/
@charset "UTF-8";

[class*="icon-"]:before {
    font-family: 'entypo', sans-serif;
}

body{
    font-size: 10px;
    margin: 0;
}

body *{
    font-family: Arial Black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.foco{
    border: solid 4px black;
    background-color: rgb(230,230,230);
}

.foco:disabled{
    border: solid 4px gray;
}

/*############################ 1 - Cabecalho da página ############################*/
header#cabecalho{
    overflow: hidden;
    text-align: center;
    background-color: rgb(225,239,187);
    margin: 0px;
}

header#cabecalho > img{
    display: inline-block;
    width: 11%;
    margin: 5px;
    overflow: hidden;
}

header#cabecalho > img#logoApae{
    float: left;
    margin-left: 1em;
}

header#cabecalho > img#logoIfms{
    float: right;
    margin-right: 1em;
}

header#cabecalho h1{
    display: inline-block;
    max-width: 60%;
    font-size: 1.5em;
}

/*############################ 2 - Corpo da pagina ############################*/
main{
    display: block;
    padding: 0px;
    text-align: center;
    margin-top: 2em;
}

.form{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    display: none;
}

.form > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
}

.form h1{
    margin: 0 auto 0.5em auto;
    white-space: nowrap;
}

div[id*="formCad"] > div{
  text-align: right;
  margin: 1em auto;
}

div[id*="formCad"] label{
  font-size: 1em;
}

div[id*="formCad"] input, textarea,select{
  width: 50%;
  font-size: 1.1em;
}

.form textarea{
  resize: none;
  resize: vertical;
  max-height: 100px;
}

.form .div-observacao label{
  vertical-align: super;
}

#cadastroEstudante #nomeusuario{
  text-transform: none;
}

.form button{
    float: left;
    display: inline-block;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-left: 1em;
}

.form button:last-child{
    float: right;
    margin-right: 1em;
}

.form output{
  display: block;
  color: red;
  min-height: 1.3em;
}

@media only screen and (min-width: 475px){
  body{
      font-size: 15px;
  }
}

@media only screen and (min-width: 635px){
  body{
      font-size: 17px;
  }
}

@media only screen and (min-width: 890px){
    header#cabecalho h1{
        font-size: 1.6em;
    }

    main{
        overflow: hidden;
    }

    #cadastroEstudante textarea{
      max-height: 100px;
    }
}

@media only screen and (min-width: 1020px){

}

@media only screen and (min-width: 1275px){

    header#cabecalho h1{
        margin: 0.4em auto;
    }
}
