/*############################ 0 - Configurações gerais da página ############################*/
@charset "UTF-8";

[class*="icon-"]:before {
    font-family: 'entypo', sans-serif;
}

body{
    font-size: 10px;
    margin: 0;
}

body *{
    font-family: Arial Black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.foco{
    border: solid 4px black;
    background-color: rgb(230,230,230);
}

.foco:disabled{
    border: solid 4px gray;
}

/*############################ 1 - Cabecalho da página ############################*/
header#cabecalho{
    overflow: hidden;
    text-align: center;
    background-color: rgb(225,239,187);
    margin: 0px;
}

header#cabecalho > img{
    display: inline-block;
    width: 11%;
    margin: 5px;
    overflow: hidden;
}

header#cabecalho > img#logoApae{
    float: left;
    margin-left: 1em;
}

header#cabecalho > img#logoIfms{
    float: right;
    margin-right: 1em;
}

header#cabecalho h1{
    display: inline-block;
    max-width: 60%;
    font-size: 2.8em;
}

/*############################ 1 - Corpo da página ############################*/

section{
  margin: 1em 0;
}

section table{
  margin: 0 auto;
  width: 80%;
  min-width: 820px;
  border-collapse: collapse;
}

section table td{
  padding: 0.3em;
  font-size: 1.5em;
}

.deficiencia{
  vertical-align: top;
}

#nome-estudante{
  font-size: 2.6em;
  max-width: 300px;
}

.col2{
  white-space: nowrap;
  border-right: solid 2px black;
  border-left: solid 2px black;
}

.col3{
  width: 35%;
}

.observacao{
  border-top: solid 2px black;
}

#historicos{
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-left: 0;
}

#historicos li{
  width: 100%;
  font-size: 1.2em;
}

#historicos li h1 *{
  display: inline;
  font-size: 1em;
}

#historicos li h1{
  margin: 0.3em 0;
  margin-left: 5%;
}

.btn-open-historico:hover{
  background: rgb(190,190,190);
}

.btn-open-historico{
  margin-right: 0.5em;
  border: none;
  background: none;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
  float: left;
  display: block;
  width: 2.5em;
  height: 1.4em;
}

form{
  margin: 0;
  padding: 0;
}

.partida td:last-child{
  padding: 0.2em;
}

.btn-open-partida{
  width: 3em;
  height: 2em;
  font-size: 1em;
}

li table{
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1.3em;
  display: none;
  overflow: hidden;
}

li table thead{
  background-color: rgb(225,239,187);
  font-size: 1.2em;
}

li table td, li table th{
  padding: 0.5em 0.8em;
}

li table tbody tr.partida:nth-child(odd){
  background-color: rgb(235,235,235);
}

li table tbody tr.partida:nth-child(even){
  background-color: rgb(220,220,220);
}

.partida *{
  text-align: center;
}

li tr.data{
  background-color: rgb(193, 200, 255);
}

span.icon-check{
  color: green;
}

span.icon-cancel{
  color: red;
}

[id*="open-historico-"]{
  display: none;
}

[id*="open-historico-"]:checked ~ table{
  display: table;
}

[id*="open-historico-"]:checked ~ h1 label:first-child span:before{
  font-family: entypo;
  content: "\e75c";
}

li h1 label:last-child{
  cursor: pointer;
}

.empty{
  background-color: rgb(220,220,220);
}

.dadosemissao{
  font-size: 1.5em;
  margin-left: 10%;
  display: none;
}

@media print{
  .dadosemissao{
    display: inline-block;
  }
}
