/*############################ 0 - Configurações gerais da página ############################*/
@charset "UTF-8";

[class*="icon-"]:before {
    font-family: 'entypo', sans-serif;
}

body{
    font-size: 10px;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

body *{
    font-family: Arial Black;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.foco{
    border: solid 4px black;
    background-color: rgb(230,230,230);
}

.foco:disabled{
    border: solid 4px gray;
}

/*############################ 1 - Cabecalho da página ############################*/
header#cabecalho{
    overflow: hidden;
    text-align: center;
    background-color: rgb(225,239,187);
    margin: 0px;
}

header#cabecalho > img{
    display: inline-block;
    width: 11%;
    margin: 5px;
    overflow: hidden;
}

header#cabecalho > img#logoApae{
    float: left;
    margin-left: 1em;
}

header#cabecalho > img#logoIfms{
    float: right;
    margin-right: 1em;
}

header#cabecalho h1{
    display: inline-block;
    max-width: 60%;
    font-size: 2.8em;
}

/*############################ 1 - Corpo da página ############################*/

section{
  margin: 1em 0;
}

section table{
  margin: 0 auto;
  width: 80%;
  min-width: 820px;
  border-collapse: collapse;
  border-bottom: solid 2px black;
}

section table td{
  padding: 0.3em;
  font-size: 1.6em;
}

section table tr td:not(:first-child){
  border-left: solid 2px black;
}

section table tr:first-child td{
  font-size: 2em;
  vertical-align: top;
}

#nome-estudante{
  font-size: 2em;
  max-width: 200px;
}

#tablerespostas{
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1.7em;
  overflow: hidden;
}

#tablerespostas td, #tablerespostas th{
  padding: 0.5em 0.8em;
}

#tablerespostas thead,.resultado{
  background-color: rgb(225,239,187);
  font-size: 1.2em;
}

#tablerespostas .color0{
  background-color: rgb(220,220,220);
}

#tablerespostas .color1{
  background-color: rgb(235,235,235);
}

#tablerespostas .tdpergunta{
  background-color: rgba(0,0,0,0.05);
}

#tablerespostas td{
  text-align: center;
}

.correcao-icon-check{
  background-color: rgb(193, 200, 255);
}

.correcao-icon-cancel{
  background-color: rgb(255, 200, 193);
}

span.icon-check{
  color: green;
}

span.icon-cancel{
  color: red;
}

.dadosemissao{
  font-size: 1.5em;
  margin-left: 10%;
  display: none;
}

@media print{
  .dadosemissao{
    display: inline-block;
  }
}
